
/* * {
    box-sizing: border-box;
} */

.text-center {
    text-align: center;
}

.upcoming-movies-header {
    background-color: #ff9999;
    padding: 8px;
    font-size: 1rem;
    color: purple;
}



.flex-container {
    display: flex;
    padding: 15px;
    justify-content: space-around;
}

.left {
    flex-basis: 76%;
    box-sizing: border-box;
}

.MuiFormControl-root {
    min-width: 240px !important ;
    max-width: 240px !important ;
    margin: 6px auto !important ;
}

.curs-pointer {
    cursor: pointer;
}

